$imgHost:"../../images/";
ul{
	list-style: none;
}
$paddingTop:40px;
.side-lists{
	display: block;
	position: relative;
	height: $paddingTop;
	a:link{
		color: inherit;
	}
	a:visited{
		color: inherit;
	}
	a:hover{
		color: #fff;
	}
	&:hover{
		color: #fff;
		background-color: #16232d;
		cursor: pointer;
	}
	&::before{
		position: absolute;
		content: "";
		background: url($imgHost+"fangzhipige.png") no-repeat;
		background-size: cover;
		background-position: center;
		width: 16px;
		height: 16px;
		top: 50%;
		left: 25px;
		transform:translateY(-50%);
		-ms-transform:translateY(-50%);
		-moz-transform:translateY(-50%);
		-webkit-transform:translateY(-50%);
		-o-transform:translateY(-50%);
	}
}
.side-list-item{
	display: block;
	height: $paddingTop;
	line-height: $paddingTop;
	text-align: left;
	padding-left: 45px;
	box-sizing:border-box;
	font-size: 14px;
}
.active{
	background-color: #131e26;
	color: #fff;
}
.active{
	.side-lists{
		color: #fff;
	}
}
.router-side-view a{
	display: none;
}


